#navbar{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(39, 38, 38, 0.822);
    font-size: 16px;
    position:fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
body button:hover{
    opacity: 0.7;
    cursor: pointer;
}
#navbar >div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin:auto;
}
.nav{
    width: 55%;
    margin-left:100px ;
}
 #navbar .nav{
    float: left;
    padding: 10px;
}
#navbar .nav ul{
    position: relative;
}

#navbar .nav ul li{
    list-style:none;
    display: inline-block;
    padding: 15px;
    
}
#navbar .nav ul li a:hover{
    color: blueviolet;
}
ul .nav_list_1{
    display: none;
}
#navbar .nav ul li a{
    display: block;
    color: black;
    text-decoration: none;
    font-size: 15px;
}

#navbar > div > div:nth-child(3){
     justify-content: space-evenly;
     width:30% ;
}
#logo {
    width: 30%;
}
#logo >p>a> img{
     width: 60%;
}
#navbar > div > div:nth-child(3) >button:first-child{
   background-color: rgba(98, 54, 168, 0.877);
   color: white;
   border: 0px;
   border-radius: 3px;
   height: 35px;
   letter-spacing: -0.2px;
   width: 45%;
  
}
#navbar > div > div:nth-child(3) >button:last-child{
    background-color: rgba(255, 68, 0, 0.788);
    color: white;
    border: 0px;
    border-radius: 3px;
    height: 35px;
    letter-spacing: -0.2px;
    width: 50%;
   
 }
.navbtn{
    font-size: 13px;
}
#banner-1{
    display: flex;
    flex-direction: column;
   background-color: burlywood;
}
#banner-1 > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.slowgun > h1{
   
    line-height: 1.2;
    font-size: 70px;
    text-align: justify;
    padding: 0px;
    margin: 0px;
    font-stretch: condensed;
    color: rgba(0, 0, 0, 0.897);
}
.slowgun > p{
     font-size: 30px;
     color: rgba(0, 0, 0, 0.767);
     text-align: justify;
}
.slowgun > h1:first-child{
    margin-top: 80px;
}
#bluetick{
 display: flex;
}
#banner1_input{
    width: 550px;
    height: 70px;
    margin: auto;
    display: flex;
    border: 1px solid rgb(255, 81, 0);
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    font-size: 40px;
    background-color: white;
}
#banner1_input>input{
    height: 90%;
    width: 60%;
    border: 0px ;
    margin-left: 15px;
}
#banner1_input>button{
    height: 75%;
    width: 25%;
    border-radius: 50px;
    background-color: rgb(255, 81, 0);
    color: white;
    border: none;

}
.banner-Free_for_15_users{
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 15px;
    margin-top: 10px;
}
.banner-Free_for_15_users>img{
    width: 10%;
}

#partners_1{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    background-color: transparent;
    margin-top: 50px;
    margin-bottom: 50px;
}
.single_solution >div{
    width: 90%;
    text-align: center;
    margin: auto;
}
.single_solution >div>h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 60px;
}
.single_solution >div>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(129, 126, 126);
}
.happy_customers_images{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(10,1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.happy_customers_images> img{
    width: 100%;
}
#happy_customers{
    background-color: rgb(36, 36, 138);
    box-sizing: border-box;
    padding-bottom: 70px;
}
#happy_customers>h2{
    margin: 0px;
    padding-top:130px;
    padding-bottom: 30px;
    color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.Doit > p{
    margin:0px;
    padding: 0px;
    padding-top: 10px;
}
#Do_It_All_With_Bro{
    display: grid;
    width: 85%;
    margin: auto;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
}
.do_with_bro{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 200px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(241, 246, 255, 0.959);
    text-align: center;
}
.do_with_bro:hover{
    border: 2px solid rgb(9, 53, 134);
    width: 104%;
    height: 104%;
}

.do_with_bro >img{
    width: 35%;
}
#Todo_list{
    margin-top: 80px;
}

#banner2_cont{
    background-color: rgb(231, 231, 231);
    padding: 80px;
    margin-top: 60px;
}
#banner-2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 70%;
    margin: auto;
    text-align: center;
}
#banner-2 > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.slowgun2 > p{ 
    line-height: 1.2;
    font-size: 30px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-stretch: condensed;
    color: rgba(0, 0, 0, 0.897);
}
.slowgun2 > h1:nth-child(2){
    color: blueviolet;
    margin-bottom: 30px;
    margin-top: 10px;
}
#bluetick_2{
 display: flex;
 margin: auto;
 width: 50%;
 justify-content: space-around;
}
#banner2_input{
    width: 550px;
    height: 70px;
    margin: auto;
    display: flex;
    border: 1px solid rgb(255, 81, 0);
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    font-size: 40px;
    background-color: white;
}
#banner2_input>input{
    height: 90%;
    width: 60%;
    border: 0px ;
    margin-left: 15px;
}
#banner2_input>button{
    height: 75%;
    width: 25%;
    border-radius: 50px;
    background-color: rgb(255, 81, 0);
    color: white;
    border: none;

}
.banner-Free_for_15_users{
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 15px;
    margin-top: 10px;
}
.banner-Free_for_15_users>img{
    width: 10%;
}
.partener_2{
    display: flex;
    width: 90%;
    margin: auto;
}
.partener_2 >div{
    /* border: 1px solid red; */
    height: 350px;
    width: 310px;
}
.partener_2 img{
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 70px;
    padding: 10px;
}
.partener_2 img:nth-child(2){
    position: relative;
    top: 120px;
}
.partener_2 img:nth-child(3){
    position: relative;
    top: 250px;
}
.no_outline{
    outline: none;
    font-size: 20px;
}
.footer_upper{
    display: flex ;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.footer_upper > div:first-child{
    width: 30%;
}
.footer_upper > div:nth-child(2){
    width: 50%;
}

.footer_upper > div >img{
    width: 90%;
}
.fot_input_flex{
    display: flex;
    border-radius: 5px;
}
.fot_input_flex >div >div{
    width: 370px;
    height: 50px;
    margin: 0px 50px 30px 0px;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.fot_input_flex >div >div >input{
    width: 100%;
    height: 100%;
    padding-left:10px;
    outline: none;
    font-size: 16px;
    border-radius: 15px;
    background-color:rgba(7, 7, 100, 0.788);
    color: beige;
}
#footer{
    background-color: blue;
}
.footer_upper >div > button{
     
     height: 40px;
     width: 250px;
     font-size: 15px;
     font-weight: bold;
     border-radius: 10px;
     border: none;
     margin-right:13px;
     margin-bottom: 10px;
}
.fot_signupbtn{
    background-color:  rgb(255, 81, 0);
    color: white;
}
.fot_callbtn{
    background-color: white;
    color: black;
}
.footer_upper >div>h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.fot_list ul{
    list-style: none;
}
.fot_list ul li{
    margin-bottom: 20px;
}
.fot_list > div{
    color: white;
    text-align: justify;
}
.foot_list_flex{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
}
.foter_input{
    color: white;
}
.fot_list >div>h3{
    text-align: center;
}
.social{
    display: flex;
    color: white;
    width: 90%;
    margin: auto;
}
.social >div{
    width: 50%;
}
.social >div img{
    width: 30%;
}